/* =============
    Base
============= */
body{
    background-color: var(black); 
}
.content-grid{
    display: grid; 16px auto 16px ;
    grid-template-areas: ". content .";
}
.content-grid-item{
    background-color: red; 
    grid-area: content;
}