/* =============
    Variables
============= */


// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 276px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 200px;


// Colors vars
:root {
  --black: #000000;
  --white: #ffffff;

  --MintCream: #F5FFFA ;
  --lavender: #E6E6FA ;

  --darkSlateBlue: #483D8B ;
  --Gainsboro: #DCDCDC ; 
  --Plum: #DDA0DD ;


  

  

}
